html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

body > div, body > div > div {
	height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

.inline {
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
}

.main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #ccc;
	background-blend-mode: overlay;
	box-shadow: 0 3px 10px 1px #828282;
}

.rect {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.rect > div {
	flex-grow: 0;
	flex-shrink: 0;
	height: 400px;
}

.peoples, .techs, .setup, .showcase {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

.people {
	flex-wrap: wrap;
}

.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 30%;
}

.techLogo, .profilePictureMicro {
	height: 55px;
}

.profilePictureMicro {
	box-shadow: 0px 0px 1px 1px #d1d1d1;
	border-radius: 5px;
}

.width30 {
	width: 30%;
}

.profilePicture {
	height: 150px;
	width: 150px;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px #000;
}

.margAbove60 {
	margin-top: 60px;
}

.margAbove20 {
	margin-top: 20px;
}

.margAbove10 {
	margin-top: 10px;
}

.margAbove5 {
	margin-top: 5px;
}

.margVert30 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.paddHori20 {
	padding-right: 20px;
	padding-left: 20px;
}

.xl {
	font-size: 50px;
}

.l {
	font-size: 24px;
}

.m {
	font-size: 12px;
}

.mid {
	flex-basis: 50%;
}

.big {
	flex-basis: 100%;
}

.grayed{
	color: #bbb;
}