html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

body > div, body > div > div {
	height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

.inline {
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
}

.width30 {
	width: 30%;
}

.margAbove60 {
	margin-top: 60px;
}

.margAbove20 {
	margin-top: 20px;
}

.margAbove10 {
	margin-top: 10px;
}

.margAbove5 {
	margin-top: 5px;
}

.margVert30 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.paddHori20 {
	padding-right: 20px;
	padding-left: 20px;
}

.xl {
	font-size: 312.5%;
}

.l {
	font-size: 150%;
}

.m {
	font-size: 75%;
}

.mid {
	flex-basis: 50%;
}

.big {
	flex-basis: 100%;
}

.grayed{
	color: #bbb;
}

.lightBlack{
	color: #525252;
}

.emoji {
	height: 16px;
}