html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

body > div, body > div > div {
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #ccc;
	background-blend-mode: overlay;
	box-shadow: 0 3px 10px 1px #828282;
}

.rect {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.rect > div {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	height: 400px;
}

.showcase {
	flex-direction: column;
}

.techs {
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
}

.techLogo {
	height: 30px;
}

.width30 {
	width: 30%;
}

.profilePicture {
	height: 150px;
	width: 150px;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px #000;
}

.margAbove20 {
	margin-top: 20px;
}

.paddHori10 {
	padding-right: 10px;
	padding-left: 10px;
}

.xl {
	font-size: 50px;
}

.l {
	font-size: 24px;
}

.m {
	font-size: 12px;
}

.grayed{
	color: #bbb;
}