.main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #ccc;
	background-blend-mode: overlay;
	box-shadow: 0 3px 10px 1px #828282;
	background-size: cover;
}

.description {
	line-height: 1.4;
}

.rect {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.rect > div {
	flex-grow: 0;
	flex-shrink: 0;
	height: 400px;
}

.peoples, .techs, .setup, .showcase {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

.people {
	flex-wrap: wrap;
}

.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 30%;
}

.techLogo, .profilePictureMicro {
	height: 55px;
}

.techRow {
	flex-wrap: wrap;
}

.profilePictureMicro {
	box-shadow: 0px 0px 1px 1px #d1d1d1;
	border-radius: 5px;
}

.profilePicture {
	height: 150px;
	width: 150px;
	border-radius: 10px;
	box-shadow: 0 0 7px 1px rgb(149, 149, 149);
}

.repoDescription {
	text-align: center;
	max-width: 50%;
    line-height: 1.4;
}

.sectionHeader {
	text-align: center;
}