.loaded .description {
	transform: translateY(0px) scale(1, 1);
	opacity: 1;
}

.loaded .name {
	transform: translateX(0px) scale(1, 1);
	opacity: 1;
}

.loaded .profilePicture {
	transform: translateY(0px) scale(1, 1);
	opacity: 1;
}

.viewed.tech {
	transform: translateY(0px) rotateX(0deg);
	opacity: 1;
}

.viewed.person {
	transform: translateY(0px);
	opacity: 1;
}