@media screen and (max-width: 800px) {
	.name, .repoName, .repoDescription, .sectionHeader {
		max-width: 90%;
	}

	.main {
		text-align: center;
	}

	.rect > div {
		height: auto;
		margin-top: 90px;
	}

	.peoples, .techs, .setup, .showcase {
		border: unset;
	}

	.width30 {
		width: 90%;
	}

	.main, .rect {
		flex-direction: column;
	}

	.main > div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.person {
		margin-right: 5px;
		margin-left: 5px;
	}
}