<!DOCTYPE html>
<html>
<head>
	<title>Naram</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	
	<meta name="theme-color" content="#282b30">
    <meta name="msapplication-navbutton-color" content="#282b30">
    <meta name="apple-mobile-web-app-status-bar-style" content="#282b30">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
	<div id="app"></div>
</body>
</html>
